<a href="https://colab.research.google.com/github/MinseoMoon/aipython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

In [19]:
a=int(input())
if a%2==0:
  print("a는 짝수입니다")
elif a%2==1:
  print("a는 홀수입니다")

30
a는 짝수입니다

#0에서 100사이 점수를 입력받아서 90점이상 A, 80점 이상 B, 70점 이상 C, 60점 이상 D, 그 외 F

In [38]:
score=int(input())
if score >=90:
  print("A")
elif score >=80:
  print("B")
elif score >=70:
  print("C")
elif score >=60:
  print("D")
else:
  print("F")

50
F

In [39]:
score = int(input("점수를 입력하세요: "))

if score >= 0 and score <= 100:
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    print("등급:", grade)
else:
    print("유효하지 않은 점수입니다. 0에서 100 사이의 점수를 입력하세요.")

점수를 입력하세요: 300
유효하지 않은 점수입니다. 0에서 100 사이의 점수를 입력하세요.

In [45]:
a=[1,2,3,4,5]
for i in a:
    print(i, end=" ")

1 2 3 4 5

In [41]:
a=[1,2,3,4,5]
b=0
for i in a:
    print(i)
    b+=i
print(b)

1
2
3
4
5
15

#1에서 100 사이의 홀수(짝수)만 나타내시오

In [47]:
#홀수라면
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [52]:
#continue문을 이용하여 / 홀수만 표시하라고 했으면 조건은 짝수가 될 수 있는 조건으로 표시
for i in range(1,101):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [53]:
#break문을 쓴다면?
for i in range(1,101):
  if i%2==0:
    break
  print(i)

1

In [48]:
#짝수 라면
for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 짝수 합, 홀수 합

In [62]:
짝수합=0
홀수합=0

for i in range(1,101):
  if i%2==1:
    홀수합+=i
  else:
    짝수합+=i
print(짝수합)
print(홀수합)

2550
2500

#하나의 숫자 n를 입력 받아서 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [72]:
#n의 값을 입력
n= int(input())
tot=0

#1에서 n까지 반복
for i in range(n+1):
    tot+=i
print(tot)

10
11