<a href="https://colab.research.google.com/github/MinseoMoon/aipython/blob/main/240412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#다음 리스트에서 "apple" 요소를 출력하세요.

In [ ]:
fruits= ["banana","apple","orange","cherry"]
print(fruits[1])

apple

#다음 리스트에서 마지막 요소를 출력하세요.

In [ ]:
numbers=[10,20,30,40,50]
print(numbers[-1])

50

#다음 리스트에서 "banana" 요소를 "grape"로 변경하세요.

In [ ]:
fruits= ["apple","banana","cherry"]
fruits.pop(1)
fruits.insert(1,"grape")
print(fruits)

['apple', 'grape', 'cherry']

#다음 리스트에 "strawberry" 요소를 추가하세요.

In [ ]:
fruits= ["apple","banana","cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

#다음 리스트에서 30을 제거하세요

In [ ]:
numbers=[10,20,30,40,50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

#다음 리스트의 길이를 출력하세요.

In [ ]:
numbers=[5,10,15,20,25]
print("리스트의 길이: ",len(numbers))

리스트의 길이:  5

#다음 리스트에서 가장 작은 값, 가장 큰 값을 찾아 출력하세요.

In [ ]:
numbers=[10,5,8,3,15]
print("최솟값:",min(numbers))
print("최댓값:",max(numbers))

최솟값: 3
최댓값: 15

#다음 리스트의 모든 요소의 합을 계산하여 출력하세요.

In [ ]:
numbers=[10,20,30,40,50]
print("합계:",sum(numbers))

합계: 150

#다음 리스트의 모든 요소를 제곱하여 새로운 리스트를 생성하세요.

In [ ]:
numbers=[1,2,3,4,5]
newlist=[]
for i in numbers:
  newlist.append(i**2)
print(newlist)

[1, 4, 9, 16, 25]

In [ ]:
numbers=[1,2,3,4,5]
def square(numbers):
  newlist=[]
  for num in numbers:
    newlist.append(num**2)
  return newlist
result = square(numbers)
print(result)

[1, 4, 9, 16, 25]

In [ ]:
def double(x):
  result = x ** 2
  return result
numbers=[1,2,3,4,5]
newlist=[]
for i in numbers:
  newlist.append(double(i))
print(newlist)

[1, 4, 9, 16, 25]

#다음 리스트에서 "apple" 요소의 개수를 출력하세요.

In [ ]:
fruits= ["apple","banana", "apple", "cherry", "apple"]
print(fruits.count("apple"))

3

#BMI계산기

In [ ]:
def BMI(h,m):
  result= m/((h/100)**2)
  return result
결과 = BMI(190,90)
print(결과)

24.930747922437675